In [128]:
import pandas as pd

In [160]:
df =pd.read_csv(r'/Users/joblethomas/Desktop/Learning/Crime_Data_from_2020_to_Present.csv')

In [130]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [ ]:
# Dropping Unnecessary Columns

In [161]:
df.drop(['Premis Cd','Weapon Used Cd','Status','Mocodes', 'AREA', 'DR_NO', 'Rpt Dist No', 'Crm Cd', 'Part 1-2', 'Status Desc', 'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4','LOCATION', 'Cross Street' ], inplace=True, axis=1)

In [167]:
df.drop("Victim's Descent" , inplace=True, axis=1)

In [ ]:
# Replacing String Values

In [162]:
df["Vict Sex"].replace(['F','M','X'],['Female','Male','N/A'], inplace = True )

In [163]:
df = df[df['Vict Sex'].isin(['Female', 'Male', 'N/A'])]

In [ ]:
# Filling in Blank Spaces

In [164]:
df["Weapon Desc"].fillna('None', inplace = True )

In [166]:
df["Premise Description"].fillna('Unknown', inplace = True )

In [ ]:
#Renaming Column Headers

In [165]:
df.rename(columns={"Date Rptd": "Date Reported", "DATE OCC": "Date Occurrence", "TIME OCC": "Time Occurrence", "AREA NAME": "Area Name","Crm Cd Desc": "Crime Description", "Vict Age": "Victim's Age", "Vict Sex": "Victim's Sex", "Vict Descent": "Victim's Descent", "Premis Desc": "Premise Description", "Weapon Desc": "Weapon Description", "LAT": "Latitude", "LON": "Longitude" }, inplace=True)

In [ ]:
# Changing the Data Type

In [168]:
df['Date Reported'] = pd.to_datetime(df['Date Reported'])

In [169]:
df['Date Occurrence'] = pd.to_datetime(df['Date Occurrence'])

In [146]:
df.dtypes

Date Reported          datetime64[ns]
Date Occurrence        datetime64[ns]
Time Occurrence                 int64
Area Name                      object
Crime Description              object
Victim's Age                    int64
Victim's Sex                   object
Premise Description            object
Weapon Description             object
Latitude                      float64
Longitude                     float64
dtype: object

In [170]:
df.head()

,Date Reported,Date Occurrence,Time Occurrence,Area Name,Crime Description,Victim's Age,Victim's Sex,Premise Description,Weapon Description,Latitude,Longitude
0,2020-01-08,2020-01-08,2230,Southwest,BATTERY - SIMPLE ASSAULT,36,Female,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.0141,-118.2978
1,2020-01-02,2020-01-01,330,Central,BATTERY - SIMPLE ASSAULT,25,Male,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,34.0459,-118.2545
2,2020-04-14,2020-02-13,1200,Central,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,N/A,POLICE FACILITY,None,34.0448,-118.2474
3,2020-01-01,2020-01-01,1730,N Hollywood,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,Female,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",None,34.1685,-118.4019
4,2020-01-01,2020-01-01,415,Mission,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,N/A,BEAUTY SUPPLY STORE,None,34.2198,-118.4468

In [172]:
df['Time Occurrence'] = df['Time Occurrence'].astype(str).str.zfill(4)  # Ensure it's 4 digits
df['Time Occurrence'] = pd.to_datetime(df['Time Occurrence'], format='%H%M').dt.strftime('%H:%M')
df.head()

,Date Reported,Date Occurrence,Time Occurrence,Area Name,Crime Description,Victim's Age,Victim's Sex,Premise Description,Weapon Description,Latitude,Longitude
0,2020-01-08,2020-01-08,22:30,Southwest,BATTERY - SIMPLE ASSAULT,36,Female,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.0141,-118.2978
1,2020-01-02,2020-01-01,03:30,Central,BATTERY - SIMPLE ASSAULT,25,Male,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,34.0459,-118.2545
2,2020-04-14,2020-02-13,12:00,Central,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,N/A,POLICE FACILITY,None,34.0448,-118.2474
3,2020-01-01,2020-01-01,17:30,N Hollywood,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,Female,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",None,34.1685,-118.4019
4,2020-01-01,2020-01-01,04:15,Mission,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,N/A,BEAUTY SUPPLY STORE,None,34.2198,-118.4468

In [ ]:
# Removing Certain Rows of Data

In [188]:
df.drop(df[df["Victim's Age"].isin([-1, -2, -3])].index, inplace=True)

In [ ]:
#Saving the Cleaned Data

In [198]:
df.to_csv('Los_Angeles_Crime_Analysis.csv')